.side-bar {
  height: 100vh;
  width: 70px;
  border-right: 1px #fdfffc solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.separator {
  margin: 10px 5px 10px 5px;
  width: 36px;
  border-bottom: 1px #fdfffc solid;
}
.icon {
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
