<header>
  <div class="side-bar dark-bg-color">
    <img
      class="icon"
      src="../../../assets/icone.png"
      alt="Icone em formato de play"
    />
    <div class="separator"></div>
    <a routerLink="/">
      <img
        class="icon"
        src="../../../assets/music.png"
        alt="Icone em formato de play"
    /></a>
    <a href="/favorites">
      <img
        class="icon"
        src="../../../assets/boomarks.png"
        alt="Icone em formato de play"
    /></a>
  </div>
</header>
